h1 {
  padding-top: 20vh;
  margin: 40px;
}
/* .homepage {
} */
.ichorsetext {
  color: #0082e6;
}
#intro {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping */
  font-size: 25px;
  height: 45vh;
}

.paragraph-wrapper {
  display: flex;
  flex-direction: row; /* Arrange paragraphs horizontally */
}

#intro p {
  flex: 1; /* Allow paragraphs to grow equally */
  margin: 0; /* Remove default margin */
  margin-left: 30px;
  margin-top: 30px;
}

@media (max-width: 600px) {
  /* Adjust breakpoint as needed */
  .paragraph-wrapper {
    flex-direction: column; /* Change to vertical stacking */
  }
}

#question {
  padding-top: 55px;
  font-size: 30px;
}
@media (max-width: 952px) {
  #question {
    font-size: 25px;
    padding-left: 50px;
  }
}
#tester {
  width: 100%;
  height: 70vh;
  background-color: wheat;
}

.cards {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

/* .card {
  flex: 0 0 calc(33.33% - 20px); 
  margin: 10px;
  border-radius: 4px;
} */
.card {
  flex: 1; /* Allow cards to grow to fill the column */
  margin: 10px;
  border-radius: 4px;
}

@media (min-width: 600px) {
  /* Change layout to row display on larger screens */
  .cards {
    flex-direction: row;
    flex-wrap: wrap; /* Allow wrapping */
    justify-content: center; /* Center align cards */
  }

  .card {
    flex: 0 0 calc(33.33% - 20px); /* Adjust width as needed */
  }
}

.card p {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
.card img {
  max-width: 400px;
  max-height: 256px;
  width: auto;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 600px) {
  .card {
    flex: 0 0 calc(100% - 20px); /* Make cards full width on smaller screens */
  }
}

.getStarted {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative; /* Ensure positioning context */
  /* background-color: black; */
}

body {
  display: flex;
  flex-direction: column;
}

.getStarted {
  position: absolute; /* Position the div absolutely */
  bottom: 0; /* Position it at the bottom of the viewport */
  width: 100%; /* Take up the full width */
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  font-weight: bold;
}

.homepage {
  background-color: #f0f0f0;
}
